<a href="https://colab.research.google.com/github/MmayankSharma987/Python-for-Data-Science/blob/main/Introduction_to_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python** is **dynamically typed programing language**. We don't have to initialise variable with specific data type before starting coding, whatever data type value has, variable consider the same data type.
Python can be written in Jupyter notebook
(ipynb), however Google Colaborataory is alternative online suits for writing codes in python.
Google colab has cells, for writing python program. There are two types of cells- Code and Text. We can add more cells by clicking '+' button above. In code cells you can execute code by 'SHIFT+ENTER'. In a text we can format text.
1. **Types of Data** are 5 types of data- Integer, Floating (numbers in decimals), Boolean (True and False), String, complex numbers (contains real number + imaginary number eg- imaginary numbers are represented as j, eg- 5+10j, 5 is real number and 10j is imaginary number).
2.**Operators in python**- There are 3 types of operations- Arithmatic (addition+, sunstraction - , multiplication *, division /), Logical (AND &, OR |), Relational (greater than >, lesser than<, equals to ==, Not equal to !=)
3. **Indexing in python** starts with 0, it means, first position is zeroth (0th) position and last position is -1.
4. '**#**'- hash added infront of any sentences in **code cells** to say that its a **comment not code**, so that it won't be executed.
5. **Variable** acts as a storage to store data, **Attributes** store multiple data. **String** is an item which we want to print, its wriiten enclosed in single (''), double ("") and triple inverted commas, (''' ''') is used to create multiline string. **String assigned value to variable and single equal (=) to sign is an assignment operator.**
6. Type() will tell type of data and length len() will tell the length of charecters in data.

#1) Operations, print integers and strings, len, type and concatenate operations

In [ ]:
2+2 # Arithmatic operations- this is adding 2 plus 2

4

In [ ]:
(2+4)
(4-1)
print(2*2)
print(8/2)
8//2

4
4.0

4

In [ ]:
# python will only execute and print the last line in multi-line program without print command and it also print the output of those lines where print is stated before the command as shown above
# In division / gives floating number while // gives integer
print(2+4)
print(4-1)
print(2*2)
print(8/2)
print(8//2)
print(2**2)
type(2+4)

6
3
4
4.0
4
4

int

In [ ]:
2>6 #Relational operations and boolean

False

In [ ]:
a=2
b=6
print(a>b)
type(a>b)

False

bool

In [ ]:
a=2
b=2
print(a==b)
type(a==b)

True

bool

In [ ]:
a=2
b=3
print(a!=b)

In [ ]:
#Logical operator - And(&): operates when both the conditions are satisfied, OR(|): operateswhen anyone condition is satisfied
a = True
b = False
print(a&b)
print(a&a)
print(b&b)
print(b&a)

False
True
False
False

In [ ]:
# Or operator
a = True
b = False
print(a|b)
print(a|a)
print(b|b)
print(b|a)

True
True
False
True

In [ ]:
a = ('Hello World!')
print(a)
type(a)

Hello World!

str

In [ ]:
# to print string in lower case
a = ('Hello world!''this is python')
a.lower()

'hello world!this is python'

In [ ]:
# to print string in upper case
a = ('Hello world!''this is python')
a.upper()

'HELLO WORLD!THIS IS PYTHON'

In [ ]:
# to replace a charecter or sub-string in string
a = ('Hello World')
a.replace('World','Mayank')

'Hello Mayank'

In [ ]:
# to count number of occurance of sub-strings
a = ('Hello, Hello, Hello')
a.count('Hello')

3

In [ ]:
#string is case sensitive
a = ('Hello, Hello, hello')
a.count('hello')

1

In [ ]:
a =(1,1,1,1,2,2,2,2,1,2,1,2,1)
a.count(1)

7

In [ ]:
# to split the strings
Students_name ='Mayank, Ravi, Mohan, Rahul, Amol'
Students_name.split(',')
Students_name

'Mayank, Ravi, Mohan, Rahul, Amol'

In [ ]:
#To find the indexing of a charecter or substring in string
Students_name =('Mayank, Ravi, Mohan, Rahul, Amol')
Students_name.find('Ravi')

8

In [ ]:
# python automatically give space when there is comma
print('Hello World!',2+2,'this is python')

Hello World! 4 this is python

In [ ]:
# if we dont want space then we have to give separater sep =''
print('Hello World!',2+2,'this is python', sep='')

Hello World!4this is python

In [25]:
print('Hello World!',2+2,'this is python', sep='asdf')

Hello World!asdf4asdfthis is python

In [26]:
# Concatenate - concatenation is possible only between two integers or two strings. Integers cant be concatenate with string.
a = (1,2,3,4)
b = (3,4,5,6)
c = a+b
print(c)
len(c)

(1, 2, 3, 4, 3, 4, 5, 6)

8

In [27]:
print('hello'+'world')

helloworld

In [28]:
a = 'Mayank'
b= 'Sharma'
c= a+b
print(c)
print(a+b)

MayankSharma
MayankSharma

In [29]:
print('Mayank '+'Sharma')

Mayank Sharma

In [30]:
#explicit declaration of integers to string in python can concatenate integers with python, explicit declaration forces python to think two different data types as one data type.
print('I earn $'+ str(1000)+ ' per month')

I earn $1000 per month

#2) Variables- Data is stored in variable, which can be further extracted.

In [ ]:
Name = ('Mayank','Mohan','Rahul','Shyam')
Name
# Name is variable here and Mayank, Mohan, Rahul and Shyam are different datas stored in Name variable with assignmnet (equal to = )operator. Variable has letter alphabet to start not numbers or special charecters except underscore.

('Mayank', 'Mohan', 'Rahul', 'Shyam')

In [31]:
# A store sold an Apple iPhone of 4GB and 128GB for $900, store this information in variables brand, RAM , Storage and price.
price= 900
print('The price of the mobile is $',price,sep='')
type(price)

The price of the mobile is $900

int

In [32]:
Brand= 'Apple'
print('The brand of mobile phone is',Brand)
type(Brand)

The brand of mobile phone is Apple

str

In [33]:
RAM = 4
print('The RAM of the mobile is',RAM,'GB')
type(RAM)

The RAM of the mobile is 4 GB

int

In [34]:
Storage= 128
print('The internal storage of phone is',Storage,'GB')
type(Storage)

The internal storage of phone is 128 GB

int

In [35]:
# an apple phone has 4.5% discount, calculate the discount price.
price = 900
discount = 4.5
discount_price = 900*0.045
print(discount_price)
total_price = (price-discount_price)
print(total_price)
print('The discount price of mobile is $'+ str(total_price))

40.5
859.5
The discount price of mobile is $859.5

In [36]:
type(price)

int

In [37]:
type(discount)

float

In [38]:
type(discount_price)

float

In [39]:
#explicit declaration doesn't change the originality of the data type, it just forces python to consider two different data type to be of same data type
type(total_price)

float

#3 Data Structures - Data Structures includes: Lists, Tuples, Dictionary and Set
In Data Structures we can store multiple data entries in one variable

In [40]:
# Variable with single data type
Brand = 'Apple'
Brand

'Apple'

##a) List
List is an heterogeneous ordered collection of various data entries stored in a variable in side square brackets[]. Create a list, indexing, remove and add items in list so List is mutable. Data entries can be changed. Values are stored in indexes like-0,1,2,3,... etc).

In [41]:
# Store Apple, Samsung, LG and Apple in Brand variable using List []
Brand_list = ['Apple','Samsung','LG','Apple']
print(Brand_list)
type(Brand)

['Apple', 'Samsung', 'LG', 'Apple']

str

In [42]:
# creating List for RAM, Storage and price
RAM_list = [4,12,8,8]
Storage_list = [128,128,64,128]
price_list = [900,899,600,1000]
print(RAM_list)
print(Storage_list)
print(price_list)

[4, 12, 8, 8]
[128, 128, 64, 128]
[900, 899, 600, 1000]

In [43]:
# To know minimum and maxium value in the list
min_value = min(RAM)
max_value = max(RAM)
print('The minimum storage of RAM is',str(min_value),'GB')
print('The maximum storage of RAM is',str(max_value),'GB')

TypeError: 'int' object is not iterable

In [44]:
# to know the third value in RAM list, to know the position we have to use indexing. Indexing of python starts from 0 and the last indexing from -1
RAM = [4,12,8,8]
RAM[2]
RAM[-2]

8

In [45]:
# If we want first 3 values, in [] thing before colon is included and thing after colon is excluded
RAM = [4,12,8,8]
RAM[0:3]

[4, 12, 8]

In [46]:
# If we want first 3 values
RAM = [4,12,8,8]
RAM[0:-1]

[4, 12, 8]

In [47]:
# If we want to edit the list we can delete and then add using pop and append function or writing the index and then assign the value which we want to replace. If we are using pop function we can delete by mentioning the index number after pop, if we are not mentioning any index value then pop will automatically delete the last value.
Brand = ['Apple','Samsung','LG','Apple']
Brand.pop()
Brand.append('Google')
print(Brand)

['Apple', 'Samsung', 'LG', 'Google']

In [48]:
# If we want to delete the 2nd value using pop function
Brand = ['Apple','Samsung','LG','Apple']
Brand.pop(1)
print(Brand)

['Apple', 'LG', 'Apple']

In [49]:
# If we want to delete the last value
Brand = ['Apple','Samsung','LG','Apple']
Brand.pop(-1)
print(Brand)

['Apple', 'Samsung', 'LG']

In [50]:
# writing the index and then assign the value which we want to add
Brand[3] = 'Motorola'
print(Brand)

IndexError: list assignment index out of range

In [51]:
# concatenating two List-
List1 = [1,2,3,4]
List2 = [3,4,5,6]
List3 = (List1+List2)
print(List3)

[1, 2, 3, 4, 3, 4, 5, 6]

In [52]:
# concatenating two List- concatenation is sequence dependent
List1 = [1,2,3,4]
List2 = [3,4,5,6]
List3 = (List2+List1)
print(List3)

[3, 4, 5, 6, 1, 2, 3, 4]

In [53]:
# concatenating and multiplication
List1 = [1,2,3,4]
List2 = [3,4,5,6]
List3 = (List1 *2 + List2)
print(List3)

[1, 2, 3, 4, 1, 2, 3, 4, 3, 4, 5, 6]

In [54]:
#to reverse the sequence of list-
List1 = [1,2,3,4]
List1.reverse()
print(List1)

[4, 3, 2, 1]

In [55]:
#to inset any item in List-
List1 = [1,2,3,4]
List1.insert(2,'Sparta!')
print(List1)

[1, 2, 'Sparta!', 3, 4]

In [56]:
# to sort a List- We cant have a mixture of string and numeric data to support sort function, Either a data type has to only string or only numeric
List1 = [1,2,3,4,'Deepak','Mayank','Abhilash']
List1.sort()
print(List1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
# to sort a List- We cant have a mixture of string and numeric data to support sort function, Either a data type has to only string or only numeric
List1 = [2,10,8,19,20,100,1,0]
List1.sort()
print(List1)

[0, 1, 2, 8, 10, 19, 20, 100]

In [58]:
# to sort a List- We cant have a mixture of string and numeric data to support sort function, Either a data type has to only string or only numeric
List1 = ['Delhi','Mumbai','Bangalore','Ahmedabad']
List1.sort()
print(List1)

['Ahmedabad', 'Bangalore', 'Delhi', 'Mumbai']

##b) Tuple - Tuple is heterogenous ordered collection of data in one variable denoted as parenthesis (). Tuple is immutable, data entry can not be changed. we can access data entry using indexing like how we did in List. Values are stored in indexes like-0,1,2,3,... etc). Heterogenous(numeric, string, boolean) data are stored in Tuples

In [59]:
Storage = (128,128,64,128)
type(Storage)

tuple

In [60]:
# to find third value
Storage[2]

64

In [61]:
# to select data entry in between the values, to print first 2 values from data entry
Storage[0:2]

(128, 128)

In [62]:
X=(20,23,-50,5.6,98)
print(X[2:-1])

(-50, 5.6)

In [63]:
# concatenate two tuples-
Tup1 = (1,2,3,4)
Tup2 = (3,4,5,6)
Tup3 = Tup1 + Tup2
print(Tup3)

(1, 2, 3, 4, 3, 4, 5, 6)

In [64]:
# concatenate two tuples- concatenation is sequence dependent
Tup1 = (1,2,3,4)
Tup2 = (3,4,5,6)
Tup3 = Tup2 + Tup1
print(Tup3)

(3, 4, 5, 6, 1, 2, 3, 4)

In [65]:
# concatenate and multiply tuples-
Tup1 = (1,2,3,4)
Tup2 = (3,4,5,6)
Tup3 = Tup1*2 + Tup2
print(Tup3)

(1, 2, 3, 4, 1, 2, 3, 4, 3, 4, 5, 6)

In [66]:
#to find minimum and maximum value-
Tup1 = (1,2,3,4)
min_value = min(Tup1)
max_value = max(Tup1)
print(min_value)
print(max_value)

1
4

##c) Dictonary - Dictonary is unordered collection of data, data is stored in curly brackets {} in **key:value pair** separated by colon (:). Here indexing is based on key value unlike in Tuple and List. Dictonary is mutable.

In [67]:
# Here Brand, RAM (in GB), Storage (in GB) and price are Key while Apple, 4, 128, 900 are values, Key stored the value and key is separated ith value by colon.
Mobile_1 = {'Brand' : 'Apple',
            'RAM (in GB)' : '4',
            'Storage (in GB)' : '128',
            'Price (in $)' : '900'}
type(Mobile_1)
Mobile_1

{'Brand': 'Apple',
 'RAM (in GB)': '4',
 'Storage (in GB)': '128',
 'Price (in $)': '900'}

In [68]:
# Extract information from Dictonary
print(Mobile_1['Brand'])
print(Mobile_1['RAM (in GB)'])
print(Mobile_1['Storage (in GB)'])
print(Mobile_1['Price (in $)'])
type(Mobile_1['Brand'])
print('The RAM of Apple is '+ str(4)+ 'GB')
Mobile_1['Brand']

Apple
4
128
900
The RAM of Apple is 4GB

'Apple'

In [69]:
# To change value in Dictonary
Mobile_1['Brand'] = 'Motorola'
print(Mobile_1)

{'Brand': 'Motorola', 'RAM (in GB)': '4', 'Storage (in GB)': '128', 'Price (in $)': '900'}

In [70]:
# To change value in Dictonary
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.update({3:"Japan"})
print(dictionary)

{1: 'USA', 2: 'India', 3: 'Japan'}

In [71]:
Mobile_1['Brand'] = 'Apple'
print(Mobile_1)

{'Brand': 'Apple', 'RAM (in GB)': '4', 'Storage (in GB)': '128', 'Price (in $)': '900'}

In [72]:
# creating a list inside dictonary to store more data in one variable
Products = {'Brand':Brand_list,'RAM (in GB)':RAM_list,'Storage (in GB)':Storage_list,'price (in $)':price_list}
print(Products)
type(Products)

{'Brand': ['Apple', 'Samsung', 'LG', 'Apple'], 'RAM (in GB)': [4, 12, 8, 8], 'Storage (in GB)': [128, 128, 64, 128], 'price (in $)': [900, 899, 600, 1000]}

dict

In [73]:
# to get all the keys and values of the dictonary
keys = Products.keys()
values = Products.values()
# to print keys and values in same line
print('The keys of dictonary are:',keys)
print('The values of dictonary are:',values)

The keys of dictonary are: dict_keys(['Brand', 'RAM (in GB)', 'Storage (in GB)', 'price (in $)'])
The values of dictonary are: dict_values([['Apple', 'Samsung', 'LG', 'Apple'], [4, 12, 8, 8], [128, 128, 64, 128], [900, 899, 600, 1000]])

In [74]:
# to print keys and values in different or second line we use \n charecter
print('The keys of dictonary are:\n',keys)
print('The values of dictonary are:\n',values)

The keys of dictonary are:
 dict_keys(['Brand', 'RAM (in GB)', 'Storage (in GB)', 'price (in $)'])
The values of dictonary are:
 dict_values([['Apple', 'Samsung', 'LG', 'Apple'], [4, 12, 8, 8], [128, 128, 64, 128], [900, 899, 600, 1000]])

In [75]:
#to extract all the items-
Products.items()

dict_items([('Brand', ['Apple', 'Samsung', 'LG', 'Apple']), ('RAM (in GB)', [4, 12, 8, 8]), ('Storage (in GB)', [128, 128, 64, 128]), ('price (in $)', [900, 899, 600, 1000])])

In [76]:
# to retrive information from dictonary
Products['Brand']

['Apple', 'Samsung', 'LG', 'Apple']

In [77]:
# to retrive specific information
# eg- RAM of second phone
Products['RAM (in GB)'][1]

12

In [78]:
#price of third phone
Products['price (in $)'][2]

600

In [79]:
# to delete item from dictonary
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.pop(2)
print(dictionary)

{1: 'USA', 3: 'China'}

In [80]:
# to concatenate two dictonary we use update
fruit_1={'Apple':10,'Orange':30,'Banana':40}
fruit_2={'Watermelon':50,'Mango':100}
fruit_1.update(fruit_2)
fruit_1

{'Apple': 10, 'Orange': 30, 'Banana': 40, 'Watermelon': 50, 'Mango': 100}

####Conditional Statements- if else and elif

In [81]:
# if-else conditional statements
# syntax- if (test expression):
# syntax Statements( to be executed if test expression is True)
# syntax else:
#syntax  Statements( to be executed if test expression is False)
price = 900
budget = 1000
if price <= budget:
  print('Congratulations! you can purchase iphone')
else:
  print('Sorry! you cannot purchase iphone')

Congratulations! you can purchase iphone

In [82]:
# issue in pre-conditioning
price = 900
budget = int(input('Enter your budget (in dollars):'))
if price <= budget:
  print('Congratulations! you can purchase iphone')
else:
  print('Sorry! you cant not purchase iphone')

Enter your budget (in dollars):900
Congratulations! you can purchase iphone

In [83]:
# issue in pre-conditioning
a = int(input('Enter a number: '))
b = 5
if a>b :
  print("a is greater than b")
else :
  print('b is greater than a')

Enter a number: 6
a is greater than b

elif condition

if (test expression):

    print('body of if")

elif (test expression):

     print('body of elif')

else:

      print('body of else)

In [84]:
budget= 650
iphone_price = 1000
motorola_price = 800
LG_price = 600
if budget >= iphone_price:
  print('you can buy iphone')
elif budget >= motorola_price:
  print('You can buy motorola phone')
else:
  print('You can buy LG phone')

You can buy LG phone

#### Looping Statement- For and While loop. Before working on looping lets see abput range function (). Range fuction() returns an immutable sequence of numbers between the given start and stop integer. Like indexing here start is included and stop is excluded.

In [85]:
print(range(6))

range(0, 6)

In [86]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [87]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [88]:
print(list(range(2,15,2)))

[2, 4, 6, 8, 10, 12, 14]

In [89]:
print(list(range(2,14,2)))

[2, 4, 6, 8, 10, 12]

In [90]:
#for loop, mobile shop offering 5%,10%,15% and 20% discount on mobile price, calculate the discount price
price = 1000
for i in range(5, 21, 5):
  discount = price * (i/100)
  discounted_price = price - discount
  print('The price after providing ',i, '% discount is $', discounted_price, sep='')

The price after providing 5% discount is $950.0
The price after providing 10% discount is $900.0
The price after providing 15% discount is $850.0
The price after providing 20% discount is $800.0

In [91]:
price = 1000
for i in range(5,10,15):
  discount = price * (i/100)
  discounted_price = price - discount
  print('The price after provididng discount of ', i, '% discount is $', discounted_price, sep='')

The price after provididng discount of 5% discount is $950.0

In [92]:
#for loop
L1= ['Orange','Apple','Mango']
for i in L1:
  print(i)

Orange
Apple
Mango

In [93]:
#Nested for- here two loops are created outer loop and inner loop, here i is assigned in outer loop and j is in inner loop. First charecter in outer look wil be read by i and then it will enter into inner loop j and completely execute the inner loop with first charecter of outer loop
Name_list =['Mayank','Ravi','Deepak','Shyam'] # (statement of outer loop)
Surname_list = ['Sharma','Verma','Gupta','Agrawal'] # (statement of inner loop)
for i in Name_list: # (inner loop)
    for j in Surname_list:  # (outer loop)
        print(i,j)

Mayank Sharma
Mayank Verma
Mayank Gupta
Mayank Agrawal
Ravi Sharma
Ravi Verma
Ravi Gupta
Ravi Agrawal
Deepak Sharma
Deepak Verma
Deepak Gupta
Deepak Agrawal
Shyam Sharma
Shyam Verma
Shyam Gupta
Shyam Agrawal

In [94]:
sum = 0
for number in range(1,5):
    sum = sum + number
print(sum)

10

In [95]:
# while loop with i += 5, or i = i + 5, it stops executing the loop once i cros the value above 20, eg- when i = 25
price = 1000
i = 5
while i <= 20:
  discount = price * (i/100)
  discounted_price = price - discount
  print('The price after providing ',i, '% discount is $', discounted_price, sep='')
  i = i + 5
  print(i)

The price after providing 5% discount is $950.0
10
The price after providing 10% discount is $900.0
15
The price after providing 15% discount is $850.0
20
The price after providing 20% discount is $800.0
25

In [96]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))
  print(x)

1
[2, 3, 4, 5]
2
[3, 4, 5]
3
[4, 5]
4
[5]
5
[]

In [97]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(-1))
  print(x)

5
[1, 2, 3, 4]
4
[1, 2, 3]
3
[1, 2]
2
[1]
1
[]

####List comprehension

In [98]:
# Mobiworld has discount of 5% in all the mobiles, we want to check the prices of all mobile phones
discounted_price_list = []
for x in price_list:
  discounted_price = x - (x * (5/100))
  discounted_price_list.append(discounted_price)
  print(discounted_price_list)

[855.0]
[855.0, 854.05]
[855.0, 854.05, 570.0]
[855.0, 854.05, 570.0, 950.0]

In [99]:
# syntax desciption - the outer square brackets [] tell that we are creating list, x-(x*(5/100)) is mathematical equation for computing the task, for x in price_list is the iterator from which element (x) will be fetched
discounted_price_list = [x-(x*(5/100)) for x in price_list]
print(discounted_price_list)

[855.0, 854.05, 570.0, 950.0]

In [100]:
# to login
Login_ID = int(input('Enter your Login ID'))
if Login_ID == 819670:
  print('Enter your password')
else:
  print('Invalid Login ID')

Enter your Login ID819670
Enter your password

In [101]:
# combining if-else conditional statement with for loop
budget = int(input('Enter your budget (in $)'))
within_budget = ['yes' if x <= budget else 'no' for x in discounted_price_list]
print(within_budget)

Enter your budget (in $)700
['no', 'no', 'yes', 'no']

In [102]:
winthin_budget = []
for x in discounted_price_list:
  if x <= budget:
    within_budget.append('yes')
  else:
    within_budget.append('no')
print(within_budget)

['no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no']

In [103]:
list_1 = [1, 2, 3, 4, 5]
list_comp = [ i for i in list_1 ]
print(list_comp)

[1, 2, 3, 4, 5]

####Exercise

In [104]:
Name_list= ['Mayank','Ravi','Mohan','Deepak','Shyam']
Name_list[1]= 'Mat'
Name_list.append('Sam')
print(Name_list)

['Mayank', 'Mat', 'Mohan', 'Deepak', 'Shyam', 'Sam']

In [105]:
Name_list

['Mayank', 'Mat', 'Mohan', 'Deepak', 'Shyam', 'Sam']

In [106]:
Rank_list = [1,4,6,3,5,2]
Rank_list

[1, 4, 6, 3, 5, 2]

In [107]:
Name_list = ['Mayank', 'Mat', 'Mohan', 'Deepak', 'Shyam', 'Sam']
Rank_list = [1, 4, 6, 3, 5, 2]
Section_1 ={'Name':Name_list,'Rank':Rank_list}
Section_1.items()

dict_items([('Name', ['Mayank', 'Mat', 'Mohan', 'Deepak', 'Shyam', 'Sam']), ('Rank', [1, 4, 6, 3, 5, 2])])

In [108]:
Rank = int(input('Enter your rank '))
Gold_medal = ['Yes' if x<=2 else 'No' for x in Rank_list]
print(Gold_medal)

Enter your rank 2
['Yes', 'No', 'No', 'No', 'No', 'Yes']

In [109]:
fruit_1={'Apple':10,'Orange':30,'Banana':40}
fruit_1['Grapes']=60
print(fruit_1)

{'Apple': 10, 'Orange': 30, 'Banana': 40, 'Grapes': 60}

In [110]:
fruit_1={'Apple':10,'Orange':30,'Banana':40}
fruit_1['Apple']=15
print(fruit_1)

{'Apple': 15, 'Orange': 30, 'Banana': 40}

In [111]:
# to concatenate two dictonary we use update
fruit_1={'Apple':10,'Orange':30,'Banana':40}
fruit_2={'Watermelon':50,'Mango':100}
fruit_1.update(fruit_2)
fruit_1

{'Apple': 10, 'Orange': 30, 'Banana': 40, 'Watermelon': 50, 'Mango': 100}

In [112]:
fruit_1.pop('Apple')
fruit_1

{'Orange': 30, 'Banana': 40, 'Watermelon': 50, 'Mango': 100}

In [113]:
#if-else
fruit_1 = {'Apple':10,'Orange':30,'Banana':40}
if fruit_1['Orange']==30:
  fruit_1['Orange']+= 100
print(fruit_1)

{'Apple': 10, 'Orange': 130, 'Banana': 40}

In [114]:
# while loop - first 10 integers
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [115]:
# to write mathematical table
i = 1
n = int(input('Enter a number '))
while i<=10:
  print(n,'*',i,'=',n*i)
  i=i+1

Enter a number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##d) Set- Unordered and unindexed collection of items in curly braces{}. Data are not placed in order and we cant extract the index of data in set. Duplicates are not allowed in Set

In [116]:
Set_1 ={1,'Mayank',1,'Mayank'}
Set_1

{1, 'Mayank'}

In [117]:
#to add, remove and add multiple values-
Set_1 = {1,'Mayank'}
Set_1.add(2)
Set_1

{1, 2, 'Mayank'}

In [118]:
Set_1 = {1,'Mayank',2}
Set_1.remove(2)
Set_1

{1, 'Mayank'}

In [119]:
Set_1 = {1,'Mayank',2}
Set_1.remove('Mayank')
Set_1

{1, 2}

In [120]:
Set_1 = {1,'Mayank'}
Set_1.update([10,20,'Ravi'])
Set_1

{1, 10, 20, 'Mayank', 'Ravi'}

In [121]:
# Union (like concatenate) and Intersection (common element between the sets)
Set_1 = {1,2,3,4}
Set_2 = {3,4,5,6}
Set_1.union(Set_2)

{1, 2, 3, 4, 5, 6}

In [122]:
Set_1 = {1,2,3,4}
Set_2 = {3,4,5,6}
Set_1.intersection(Set_2)

{3, 4}

#4) Functions- Function is a block of instructions that perform specific tasks. We have seen few functions in python like print, min, max, len etc. In python we can define our own functions we dont have to rely on inbuilt functions.
Functions break the program into modulaar chunks which can be reused later. Functions are used to make the program more organised and managable.

**Syntax of a function**-

Function that user defin themselves to a particular task is called as **user defined functions**.

def function_name(parameters):

  '''explain what function does'''
  
statement(s)

In [123]:
#def function_name(parameters):
#  '''explain what function does'''
#statement(s)

In [124]:
# defining a function, after writing script click run to declare or redefine the function before writing command to call or execute the function eg-
def display_iphone_attributes():
  '''
  This function displays
  the stored attributes
  of Apple iphone
  '''
  price = 900
  RAM = 4
  Storage = 128
  print('The apple iphone has ',RAM, 'GB', ', internal storage of ',Storage,'GB' ' and costs ',price,'$.', sep = '')

In [125]:
# executing a function by calling out. call the function will execute the function. Once the function is defined, we can call the function by writing the function name with appropriate parameters. function parameter must always be defined first before calling out otherwise it will show error.
# call the function
display_iphone_attributes()

The apple iphone has 4GB, internal storage of 128GB and costs 900$.

In [126]:
def display_phone_attributes(brand,RAM,Storage,price):
  '''
  This function displays
  the stored attributes
  of any phone
  '''
  print('The ',brand,' phone has ',RAM, 'GB', ', internal storage of ',Storage,'GB' ' and costs ',price,'$.', sep = '')
display_phone_attributes('Samsung',12,128,899) #call (execute) the def function. The indexing of this function has to be outside from def function.

The Samsung phone has 12GB, internal storage of 128GB and costs 899$.

In [127]:
# if we give 3 attributes insted of 4, we will get error message as we miss one data.
display_phone_attributes('Samsung',12,128)

TypeError: display_phone_attributes() missing 1 required positional argument: 'price'

In [128]:
def discounted_price(discount):
  '''
  This function takes the discount
  percentage as input and
  returns the discounted price of Apple iphone
  '''
  price = 900
  discounted_price = (price -(price*(discount/100)))
  return discounted_price

In [129]:
# call the function with discount of 10%
dp = discounted_price(10)
dp

810.0

In [130]:
#lambda function- to write code in short we can use lamda function
price = 900
discounted_price_lambda = lambda discount : (price - (price)*(discount/100))

In [131]:
discounted_price_lambda(10)

810.0

In [132]:
(lambda x: (x+2)*5/2)(4)

15.0

In [133]:
# *args function- *args is arguments and its flexible functions, we can name args as prices but putting star is important, star makes think python that this parameter is flexible eg- calculating total price of different phones
def total_amount(*args): # args will iterate over loop
  '''This function takes the price in order and retrurn the total price'''
  total = 0 # computing total order amount
  for i in args:
    total = total + i
    #return the total amount
  return total

In [134]:
print('The total amount of phone is ',total_amount(500,1000)) #compute the price of 2 phones

The total amount of phone is  1500

In [135]:
print('The total amount of phone is ',total_amount(1000,1000,500,1000)) # compute the price of 4 phones

The total amount of phone is  3500

In [136]:
# *kwargs - key word argumnets to declare function unorderly, eg- here *prices is *kwargs
def total_discounted_amount(*prices, discount=0.0):
  '''This function takes the price in order and the discount percentage and  retrurn the total discounted price'''
  total = 0 # computing total order amount
  for price in prices:
    total += price
    total_discounted_price= total - discount*total
    return total_discounted_price

In [137]:
print('The total discount amount is ', total_discounted_amount(1000,800,1200,1000))

The total discount amount is  1000.0